*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*This makes 1rem = 10px, easier to work with rem*/
html {
  font-size: 62.5%;
}

.slide {
  background-size: cover;
  background-repeat: no-repeat;
  /*center for horizontal and top for vertical*/
  background-position: center top;
}

.section.one .slide.one {
  background-image: url(media/flower.jpg);
}

.section.two .slide.one {
  background-image: url(media/beach/1.jpg);
}

.section.two .slide.two {
  background-image: url(media/beach/2.jpg);
}

.section.two .slide.three {
  background-image: url(media/beach/3.jpg);
}